<main class="main">
  <div class="inner">
    <div class="post__wrapper">
      <p class="post__heading">
        <%= "#{@post.title}"%>
      </p>
      <%= link_to "投稿者 #{@post.user.nickname}", "#", class: :post__user %>
      <% if user_signed_in? && current_user.id == @post.user_id %>
        <div class="post__manage">
          <%= link_to "編集", edit_post_path(@post.id), class: :post__btn %>
          <%= link_to "削除", post_path(@post.id), method: :delete, class: :post__btn %>
        </div>
      <% end %>  
      <div class="post__image">
        <%= image_tag(@post.image) %>
      </div>
      <div class="post__body">
        <div class="post__detail">
          <p class="detail__message">
            <%= "#{@post.text}" %>
          </p>
        </div> 
        <div class="post__detail">
          <p class="detail__message">
            <%= "#{@post.country.name}" %> 
          </p>
        </div>       
        <div class="post__detail">
          <p class="detail__message">
            <%= "#{@post.genre.name}" %> 
          </p>
        </div>       
      </div>
      <div class="post__comments">
        <% if user_signed_in? %>
          <%= form_with(model: [@post, @comment], local: true) do |f|%>
            <div class="field">
              <%= f.label :text, "コメント" %><br />
              <%= f.text_field :text %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>
          <% end%>
        <% end%>
        <ul class="comments_lists">
        <% @comments.each do |comment| %>
          <li class="comments_list">
            <p>
              <%= comment.text%>
              <%= link_to "(#{comment.user.nickname})", "/users/#{comment.user_id}", class: :comment_user %>
            </p>  
          </li>
        <% end %>
        </ul>  
      </div>      
    </div>
  </div> 
</main>